<?php
return array(
        'modules' => array(
                'Soflomo\Purifier'
        ),
        'module_listener_options' => array(
                'config_glob_paths'    => array(
                        __DIR__.'/{,*.}{global,local}.php',
                        __DIR__.'/../../config/{*}.php',
                ),
                'module_paths' => array(
                        'module',
                        'vendor',
                ),
        ),
);